modules = ["nodejs-20", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "npm run serve"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
